@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .container .col {
    background: rgb(255, 255, 255);
  }
  
  .container .col p {
    padding: .25rem .75rem;
  }
  
  
  /* 2 columns (600px) */
  
  @media only screen and (min-width:600px) {
    .container .col {
      float: left;
      width: 50%;
    }
  }

/* nav bar */

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

/* why */

  .why
{
	width: 100%;
	padding-top: 115px;
	padding-bottom: 113px;
}
.why .section_subtitle,
.why .section_title
{
	color: #FFFFFF;
}
.why_row
{
	margin-top: 100px;
}
.why_item
{
	width: 100%;
	background: #FFFFFF;
}
.why_image
{
	width: 35%;
}
.why_image img
{
	max-width: 100%;
}
.why_content
{
	padding-top: 48px;
	padding-bottom: 55px;
	padding-left: 35px;
	padding-right: 35px;
}
.why_title
{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #181818;
	line-height: 1.1;
}
.why_text
{
	margin-top: 20px;
}
.why_icon
{
	position: absolute;
	top: -29px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 73px;
	height: 73px;
	background: #f2f5f6;
	border-radius: 50%;
}
.why_icon img
{
	max-width: 60%;
}

a.link  :link {color:#ff0000;}
a.link  :visited {color:#0000ff;}
a.link  :hover {color:#ffcc00;}