@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,800|Ibarra+Real+Nova:400,500,600,700");

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container .col p {
  padding: 0.25rem 0.75rem;
}

/* 2 columns (600px) */

@media only screen and (min-width: 600px) {
  .container .col {
    float: left;
    width: 50%;
  }
}

/* nav bar */
.topnav {
  background: #333339;
  display: flex;
  justify-content: center;
}

.topnav a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all .2s;
}

.topnav a.active {
  background: #3c53b5;
  border-color: #3c53b5;
}

.topnav a:hover {
  border-color: #3c53b5;
}

a.link:link {
  color: #ff0000;
}
a.link:visited {
  color: #0000ff;
}
a.link:hover {
  color: #ffcc00;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: "Source Sans Pro", sans-serif;
}
