@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800|Ibarra+Real+Nova:400,500,600,700");

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 30px auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container .col p {
  padding: 0.25rem 0.75rem;
}

/* 2 columns (600px) */

@media only screen and (min-width: 600px) {
  .container .col {
    float: left;
    width: 50%;
  }
}

/* nav bar */
.topnav {
  background: #333339;
  display: flex;
  justify-content: center;
}

.topnav a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.2s;
}

.topnav a.active {
  background: var(--primary);
  font-weight: bold;
  color: #333339;
  border-color: var(--primary);
  box-shadow: 0 1px 3px 0 #000;
}

.topnav a:hover {
  border-color: var(--primary);
}

a.link:link {
  color: #ff0000;
}
a.link:visited {
  color: #0000ff;
}
a.link:hover {
  color: #ffcc00;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.4em !important;
}

:root {
  font-family: 'Lato', sans-serif;
  color: white;
  --primary: #6478cd;
}

body {
  background: #222228;
}

.image {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 25%;
}

.image img {
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid var(--primary);
  padding: 2px;
  box-shadow: 2px 2px 2px 2px #3334;
}

.title-info {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
  column-gap: 10px;
}

.title-info > div:nth-child(even) {
  transform: translateY(8px);
}

.title-info > div:nth-child(odd) {
  text-align: right;
  color: var(--primary);
  padding: 5px;
}

.title-info > div:nth-child(odd) > i {
  width: 1.5em;
  text-align: center;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.div-highlight {
  background: #0004;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 20px;
}

.text-highlight {
  color: var(--primary);
  font-weight: bold;
}
